﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet">
    <title>@ViewBag.Title - FİLM ÖNERİLERİ</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FİLM ÖNERİLERİ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("ANASAYFA", "Index", "Home")</li>
                    <li>@Html.ActionLink("HAKKINDA", "About", "Home")</li>
                    <li>@Html.ActionLink("İLETİŞİM", "Contact", "Home")</li>
                   


                </ul>
                
                @Html.Partial("_LoginPartial")
                
                <div class="nav navbar-nav navbar-right" style="margin-top:6px;">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">TR <span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">EN</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content"> 
        <div class="col-md-3" style="border:red 2px">
            <div class="list-group">
                <a href="/Films/Horror" class="list-group-item"><font color="teal"> <b>korku</b> </font> </a>
                <a href="/Films/Action" class="list-group-item"><font color="teal"><b>aksiyon</b> </font></a>
                <a href="/Films/Romance" class="list-group-item"><font color="teal"><b>romantik</b> </font></a>
                <a href="/Films/Sci-Fi" class="list-group-item"><font color="teal"><b>bilimkurgu</b> </font></a>
                <a href="/Films/Drama" class="list-group-item"><font color="teal"><b>dram</b> </font></a>
                <a href="/Films/Comedy" class="list-group-item"><font color="teal"><b>komedi</b> </font></a>
            </div>
        </div>
        @RenderBody()
        <hr/>
    </div>
    <footer>
        <p class="text-center">&copy; @DateTime.Now.Year - Film Önerileri</p>
    </footer>
    <!-- jQuery -->
    <script src="~/Scripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

