﻿@model filmönerileri.Models.Film
@{
    ViewBag.Title = "Details";
}


<div class="col-md-9" style="border:blue 2px">
    <div class="row">
        <div class="col-md-5">

            <img src="~/File?id=@Model.Id" style="width:100%" alt="">
        </div>
        <div class="col-md-7">
            <h4 style="display: inline;">
                @Model.Name (@Model.ReleaseYear)
            </h4>
            <div class="ratings" style="display: inline; padding:0;">
                @for (int i = 0; i < Model.Rating; i++)
                {
                    <span class="glyphicon glyphicon-star"></span>
                }
                @for (int i = 0; i < 5 - Model.Rating; i++)
                {
                    <span class="glyphicon glyphicon-star-empty"></span>
                }
            </div>
            <br /><br />
            <p>@Model.Description</p>
            <br />
        </div>
    </div>
    <br />
    @Html.Action("Index", "Comments")
    @if (Request.IsAuthenticated)
    {
        
        <form action="@Url.Action("NewComment","Comments", new { Model.Id })" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="Body">Yorumunuz:</label>
                <textarea name="Body" id="Body" class="form-control" placeholder="Bir yorum yazın." style="overflow:auto;" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Gönder</button>
        </form>
    }

</div>

