﻿@{
    ViewBag.Title = "HAKKIMIZDA";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Filmler hakkında aradığınız her şeyi bulabileceğiniz film öneri sitesine hoşgeldiniz. film türlerinde yapılabilecek en iyi ve en güncel önerilerin bulunduğu bu siteyi 7'den 70' e herkes yararlanabilsin ve hoş vakit geçirebilsin diye yapmış bulunmaktayım. 2016 yılında kurulan sitemiz film severlere büyük katkıda bulunacaktır. filmler hakkındaki kısa yorumlar ve izleyenlerin görüşleri sayesinde boş yere film aramak için vakit kaybetmeyip istediğiniz türden filmi rahatlıkla bulabileceksiniz.
     
    böylece de boşa geçmeyecek vaktiniz;sinema adına dolduğunda bir başka ruh alemiyle ayrılacaksınız sitemizden.
</p>
