﻿
@*@{
    ViewBag.Title = "Aksiyon";
}

@*<div class="col-md-9" style="border:blue 2px">
  
    <h1 class="postsby">
        <span>"Aksiyon" Kategorisinde Öneriler</span>
    </h1>
    <div style="float:right">
        <div class="col-sm-8 col-lg-8 col-md-8">
            <div class="col-md-3">
                <div style="float:right">
                    <img src="http://placehold.it/320x150" alt="">
                </div>
            </div>
            <div class="col-md-9">
                <div style="float:right">
                    <div class="caption">
                        <h4 class="pull-right">$94.99</h4>
                        <h4>
                            <a href="#">Fifth Product</a>
                        </h4>
                        <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="ratings">
                    <p class="pull-right">18 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>*@ @*
<div class="col-md-9" style="border:blue 2px">

    <h1 class="postsby">
        <span>"Korku" Kategorisinde Öneriler</span>
    </h1>
    <div>
        <div>
            <div class="col-md-5">
                <img src="http://placehold.it/320x150" style="width:100%" alt="">
            </div>
            <div class="col-md-7">
                <div>
                    <div class="caption">
                        <h4 class="pull-right">$94.99</h4>
                        <h4>
                            <a href="#">Fifth Product</a>
                        </h4>
                        <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="ratings">
                    <p class="pull-right">18 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>*@
