﻿@model IEnumerable<filmönerileri.Models.Film>




<div class="col-md-9">
    @foreach (var item in Model)
    {

        <div class="row">
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">

                    <img src="~/File/?id=@item.Id" alt="film image" />
                    <div class="caption">
                        <h4 class="pull-right">@item.ReleaseYear</h4>
                        <h4>
                            <a href="@Url.Action("Details", new { id = item.Id})">@item.Name</a>
                        </h4>
                        <p> @item.Description</p>
                    </div>
                    <div class="ratings">
                        @for (int i = 0; i < item.Rating; i++)
                        {
                            <span class="glyphicon glyphicon-star"></span>
                        }
                        @for (int i = 0; i < 5 - item.Rating; i++)
                        {
                            <span class="glyphicon glyphicon-star-empty"></span>
                        }                       

                    </div>
                </div>
            </div>
        </div>

    }
</div>
