﻿@model IEnumerable<filmönerileri.Models.Comment>



         
        @foreach (var item in Model)
        {
            <article class="row">
                <div class="col-md-2 col-sm-2 hidden-xs">
                    <figure class="thumbnail">
                        <img class="img-responsive" src="~/Content/default-avatar.png" />
                        <figcaption class="text-center">@item.User.Email</figcaption>
                    </figure>
                </div>
                <div class="col-md-10 col-sm-10">
                    <div class="panel panel-default arrow left">
                        <div class="panel-body">
                            <div class="comment-post">
                                <p>
                                   @item.Body
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

        }

