﻿@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Bilimkurgu";
}




<div class="col-md-9" style="border:blue 2px">

    <h1 class="postsby">
        <span>"Bilimkurgu" Kategorisinde Öneriler</span>
    </h1>
    <div>
        <div>
            <div class="col-md-5">
               
                <img src="~/image/marsli.jpg" style="width:100%" alt="">
            </div>
            <div class="col-md-7">
                <div>
                    <div class="caption">
                        <h4 class="pull-right">2016</h4>
                        <h4>
                            <a href="#">Marslı</a>
                        </h4>
                        <p>Başarılı bir film. Bir insanın hayatta kalma mücadelesi, takdir edilesi. Şartlar ne kadar zor da olsa imkansız diye bir şey yoktur. </p>
                    </div>
                    @{
                        if (Request.IsAuthenticated)
                        {
                            <form>
                                Yorum:
                                <br />
                                <br />
                                <textarea placeholder="Bir yorum yazınız." style="overflow:auto" name="yorum" cols="60" rows="2"></textarea><br><br>

                                <input type="submit" value="Gönder">


                            </form>

                        }
                    }
                </div>
                <div class="ratings">

                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


