﻿@{
    ViewBag.Title = "Anasayfa";
}

<div class="col-md-9">
    <div class="row carousel-holder">
        <div class="col-md-12 text-center">
            <h2><font color="teal">ÖLMEDEN İZLE </font> </h2> 
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="slide-image" src="~/image/silbastan.jpg"  alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="~/image/lucy.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="~/image/yildizlararasi.jpg" alt="">
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>


            <img src="" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
               
                <img src="~/image/müttefik.png" alt="">
                <div class="caption">
                    <h4 class="pull-right">2016</h4>
                    <h4>
                        <a href="#">MÜTTEFİK</a>
                    </h4>
                    <p> 2. Dünya Savaşı sırasında yaşanan bir aşkı beyazperdeye taşıyor</p>
                </div>
                <div class="ratings">

                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">

                
                <img src="~/image/leon.jpg" alt="">
                <div class="caption">
                    <h4 class="pull-right">1994</h4>
                    <h4>
                        <a href="#">LEON</a>
                    </h4>
                    <p>Acımasız bir tetikçi ile ile küçük bir kız arasındaki sıra dışı bağı anlatan ve herkesin mutlaka izlemesi gereken bir filmdir.</p>
                </div>
                <div class="ratings">

                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="~/image/kayipkiz.jpg" alt="">
                <div class="caption">
                    <h4 class="pull-right">2014</h4>
                    <h4>
                        <a href="#">KAYIP KIZ</a>
                    </h4>
                    <p>Hiçbir şeyin göründüğü gibi olmadığını bir kere daha ortaya koyan bir filmdir. Bir kadının intikamını nasıl büyük bir soğukkanlılıkla alabileceğininde bir kanıtıdır.</p>
                </div>
                <div class="ratings">
                    
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
              
                <img src="~/image/sihirbazlarcetesi2.jpg" alt="">
                <div class="caption">
                    <h4 class="pull-right">2013</h4>
                    <h4>
                        <a href="#">SİHİRBAZLAR ÇETESİ2</a>
                    </h4>
                    <p>Üstün sihir marifetleri olan bir ekibin bir araya gelmesiyle hikaye başlamaktadır.İzlerken ağzınız açık kalacak bakacaksınız</p>
                </div>
                <div class="ratings">

                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
               
                <img src="~/image/zindanadasi.jpg" alt="">
                <div class="caption">
                    <h4 class="pull-right">2010</h4>
                    <h4>
                        <a href="#">ZİNDAN ADASI</a>
                    </h4>
                    <p>Finaliyle sizi allak bullak edecek bir filmler vardır ya bu o işte</p>
                </div>
                <div class="ratings">
                    
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                
                <img src="~/image/baslangic.jpg" alt="">
                <div class="caption">
                    <h4 class="pull-right">2010</h4>
                    <h4>
                        <a href="#">BAŞLANGIÇ</a>
                    </h4>
                    <p> gerilimin aksiyonun görsel şölenin oyunculuk kalitesinin keyfini çıkarın </p>
                </div>
                <div class="ratings">
                   
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>