﻿@{
    ViewBag.Title = "HAKKIMIZDA";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Filmler hakkında aradığınız her şeyi bulabileceğiniz film öneri sitesine hoşgeldiniz.
    Boşa geçmeyecek vaktiniz;sinema adına dolduğunda bir başka ruh alemiyle ayrılacaksınız sitemizden.
</p>
