﻿@{
    ViewBag.Title = "İLETİŞİM";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@*<address>
       <br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>*@

<div class="col-md-9" style="border:red 2px">
    <form class="form-horizontal" role="form" method="post" action="index.php">
        <div class="form-group">
            <label for="name" class="col-sm-1 control-label">Ad</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="name" name="name" placeholder="adınız ve soyadınız" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-1 control-label">Email</label>
            <div class="col-sm-6">
                <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="message" class="col-sm-1 control-label">Mesaj</label>
            <div class="col-sm-6">
                <textarea class="form-control" rows="4" name="message"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-2">
                <input id="submit" name="submit" type="submit" value="Gönder" class="btn btn-primary">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-2">
                <! Will be used to display an alert to the user>
            </div>
        </div>
    </form>
</div>
