﻿
@{
    ViewBag.Title = "NewMovie";
}

<h3 class="text-center">Add New Movie</h3>
        <form method="post" class="form-horizontal" enctype="multipart/form-data">
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                    <label class="control-label" for="Name">Name</label>
                    <input type="text" class="form-control" name="Name" id="Name" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-2">
                    <label class="control-label" for="ReleaseYear">Release Year</label>
                    <input type="number" class="form-control" name="ReleaseYear" id="ReleaseYear" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-2">
                    <label class="control-label" for="Rating">Rating</label>
                    <input type="number" class="form-control" name="Rating" id="Rating" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                    <label class="control-label" for="Description">Description</label>
                    <textarea class="form-control" name="Description" id="Description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                    <label for="Category">Category</label>
                    <select id="Category" name="Category" class="form-control">
                        <option value="Horror">Horror</option>
                        <option value="Action">Action</option>
                        <option value="Romance">Romance</option>
                        <option value="Sci-Fi">Sci-Fi</option>
                        <option value="Drama">Drama</option>
                        <option value="Comedy">Comedy</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6">
                    <label for="Image">Image</label>
                    <input type="file" name="Image" id="Image" />
                    <br />
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </div>
        </form>



